<div id="<%= dom_id debt %>">
  <p>
    <strong>Amount:</strong>
    <%= debt.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= debt.user_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= debt.customer_id %>
  </p>

</div>
