<%= link_to customer_path(customer), class: "no-underline" do%>
<div class="flex box-shadow px-2 py-2 justify-between mt-4 items-center">
<div class="flex justify-center items-center gap-2">
<img src="<%= customer.pic %>" style="width: 80px; height: 80px; border-radius: 50%" >
<p class="p-0 m-0 text-[20px] font-bold"><%= customer.name %></p>
</div>
<p class="text-center text-[20px]">
$ <%= customer.debts.map{|s| s.amount}.sum %>
</p>
</div>
<% end %>
